/*Styles should ]ater be broken out into modules and move to using sheetify
https://github.com/stackcss/sheetify
*/

/*Fixes*/
body {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*General Styles*/

img.profile {
  width: 250px;
}

img.favicon {
  width: 16px;
}

.grad ol {
  margin-top: 20px;
  margin-bottom: 20px;
}

.links {
  padding: 10px;
  position: absolute;
}

.links a {
  margin: 5px;
  border: 1px solid beige;
}

/*Header*/

header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 56px;
  background: #e84c3d;
  display: flex;
  justify-content: space-between;  
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.logo {
  order: 1;
  height: 57px;
}

.logo img {
  height: 57px;
}

nav {
  order: 2;
  height: 57px;
  display: flex;
}

nav .add {
  margin-top: 2px;
  width: 53px;
  display: block;
  height: 53px;
  background: url('/assets/add-circular-button.svg');
  background-size: contain center;
}

nav img {
  height: 57px;
}

/*Section: Content*/

.main {
  margin-top: 100px;
}

.content {
  max-width: 720px;
  margin:0 auto;
}

.content h2 {
  margin: 10px 0;
}

.content ol {
  list-style: none;
  padding: 0;
}

/*Cards*/

.grad {
  display: flex;
  padding: 40px 0;
}

.grad--list-content {
  width: 20%;
  order: 2;
  flex-grow: 2;
}

.grad--card {
  margin:10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.grad--list-image {
  order: 1;
  flex-grow:1;
  display: flex;
  justify-content: center;
}

.grad--list-image--wrapper {     
  width: 120px;
  height: 120px;
  overflow: hidden; 
  border-radius: 50%;
}
.grad--list-image--wrapper img { 
  position: relative;
  left: -16.5%;
  width: 133%;
}
